.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #bbbbbb;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  background-color: #262626;
}

.content {
  flex: 1 1 auto;
  max-width: 1500px;
  height: 100%;
}
